<footer class="footer bg-dark py-3 mt-auto">
    <!-- mt: margin top,The 'auto' value means that the element will automatically adjust its margin to push itself towards the bottom of its parent container, creating space between itself and other elements above it. -->
    <div class="container">
        <span class="text-secondary">&copy; YelpCamp 2023</span>
        <!-- text-muted:changes the text color to a gray or lighter shade, making it less noticeable compared to regular text. -->
    </div>
</footer>